BOOKING_DB_HOST=booking-service-postgres
BOOKING_DB_PORT=5432
BOOKING_DB_USER=booking-service-user
BOOKING_DB_PASSWORD=12345678
BOOKING_DB_NAME=booking-service-db

BOOKING_APP_HOST=booking-service
BOOKING_APP_PORT=8001
BOOKING_APP_MODE=dev